<div class="container">
  <h3>Vision of Little Birds</h3>
<p>
To uphold the social values while helping the society to develop technologically and morally by providing education of global standards.</p><p> Thus bringing about emancipation in the society through knowledge and wisdom.</p>
<p>
... and the journey goes on</p><p>
Little Birds School is a registered institution and  established to inculcate among the youth a sense of discipline which is important to mould them into useful and capable citizens.</p><p>
The watchwords of the Trust are "Dedication, Determination and Distinction".
 </p>
</div>
<hr>