<!-- <hr *ngIf='display'><div *ngIf="sd">
<h2>{{sd.studentName | uppercase}} Details</h2>
<div><span>Roll No: </span>{{sd.rollNo}}</div><br>
<div>
  <label>Student Name:
    <input [(ngModel)]="sd.studentName" placeholder="name"/>
  </label>
</div><br>
<div><span>Comments on the Students:-</span>{{sd.description}}</div> 
</div> -->


<h2>{{indDet.studentName | uppercase}} Details</h2>
<div><span>Roll No: </span>{{indDet.rollNo}}</div><br>
<div>
  <label>Student Name:
    <input [(ngModel)]="indDet.studentName" placeholder="name"/>
  </label>
</div><br>
<div><span>Comments on the Students:-</span>{{indDet.description}}</div> 
